body {
  font-family: Arial, sans-serif;
}

.captcha-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  font-size: 2em;
}

.captcha-question p {
  margin-bottom: 30px;
}


button {
  border-radius: 8px;
  color: #333333;
  background: white;
  border: 10px #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
}
