
body {
    overscroll-behavior: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    overflow: visible;

    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
}

body::-webkit-scrollbar {
    display: none;
}

#firstname {
    color: #333333;
    font-weight: bold;
    #font-family: monospace;
    letter-spacing: 7px;
    position: relative;
}

#lastname {
    color: #5f5f5f;
    font-weight: bold;
    #font-family: monospace;
    letter-spacing: 7px;
    position: relative;
}
